[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pudb = "*"
flake8 = "*"
mypy = "*"

[packages]
twarf = {editable = true,extras = ["dev"],path = "."}

[requires]
python_version = "3.7"

[scripts]
